## visual studio
.vs
CE.sln

## unreal
Binaries
Intermediate
Plugins
Saved
Build

## asset
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
Content/Collections
Content/Developers
Content/LevelPrototyping
Content/ThirdPerson
